*{
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #fff;
}
ul li{
	list-style-type: none;
}
.wapper{
	width: 100%;
}
.pass{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #817561;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #000;
    margin-top: 50px;
}
.pass p{
    margin-bottom: 30px;
    font-size: 18px;
    color: #ffffff;
}
.pass p input{
    width: 200px;
    height: 30px;
    font-size: 16px;
}
.pass p:nth-child(2) input{
    margin-left: 15px;
}
.pass button{
    width: 150px;
    height: 30px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
}